#root{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f9fb;
  height: 100vh;
  flex-direction: column;

}

.form-div{
  height: 50vh;
  width: 45vw;
  /* border-style: solid; */
  border-radius: 2em;
  padding: 1em;
  background-color: white;
  box-shadow: 20px 40px 40px rgba(0, 0, 0, 0.2); /* x-offset, y-offset, blur radius, spread radius, color */
  border: 2px solid white; /* border width, border style, border color */

}

.submit-button {
  width: 100%;
  margin: 8px 0 0 3px;
  height: 100%;
  background-color: #4997d8;
  color: white;
  border-radius: 5px;
  border: 2px solid #d8dadc;
  transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effect */
}

.submit-button:hover {
  background-color: #3b7fb1; /* Darker blue on hover */
  color: #e8e8e8; /* Slightly lighter text color on hover */
}